<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Document_circulation.Properties.Settings.ConnectionString"
            connectionString="Dsn=а" providerName="System.Data.Odbc" />
        <add name="Document_circulation.Properties.Settings.document_circulationConnectionString"
            connectionString="Driver={MySQL ODBC 8.0 ANSI Driver};server=192.168.50.10;database=document_circulation;uid=root"
            providerName="System.Data.Odbc" />
        <add name="Document_circulation.Properties.Settings.document_circulation_pathConnectionString"
            connectionString="server=192.168.50.10;user id=root;database=document_circulation_path;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Document_circulation.Properties.Settings.document_circulation_pathConnectionString1"
            connectionString="server=192.168.50.10;user id=root;password=password;persistsecurityinfo=True;database=document_circulation_path"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>